* {
  margin: 0;
  font-family: 'Courgette', cursive;
  border: 1px solid red;
  /* background-color: #A9A9A9; */
  /* background-size: 100%;
  background-image: url(assets/pngeggtoto.png); */
}

body {
  display: flex;
  justify-content: space-between;
  background-size: auto;
  background-image: url(assets/totoro1.png);
  height: 100vh;
  width: 100vw;
}

div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 75vw;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  height: 10em;
  width: 20em;
  box-shadow: inset 0 0 0 200px rgba(197, 79, 79,0.3);
  /* filter: blur(10px) */
  /* background: rgb(226, 224, 235); */

}

.right-side,
.left-side {
  height: 100vh;
  width: 30vw;
}

.image {
  height: 50vh;
}
.fighter {
  height: 25vh;
}

.play-game {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 5em;
}

.hidden {
  display: none;
}
